@model TheWall.Models.Register

@{
  ViewBag.Title = "Register";
}
<h1>Registration Page</h1>
<form class="blockForm" asp-controller="Users" asp-action="Register" method="post" role="form">
    <div asp-validation-summary="All"></div>
    First Name: <input class="formElement" asp-for="FirstName"/>
    Last Name: <input class="formElement" asp-for="LastName"/>
    Email: <input class="formElement" asp-for="Email"/>
    Password: <input class="formElement" asp-for="Password" type="password"/>
    Confirm Password: <input class="formElement" asp-for="ConfirmPassword" type="password"/>
    <button type="submit">Register</button>
</form>
<p>
  Already Registered?
  <a class="formElement" asp-controller="Users" asp-action="Login">Go To Login Page</a>
</p>